/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

button {
  padding: 7px 19px;
  border: 0;
  outline: none;
  border-radius: 10px;
  margin: 0.5rem;
  color: #fff;
}

#save-btn {
  background: green;
}

#delete-btn {
  background: red
}

#position-btn{
  background-color: orange;
}


#formation {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
}

option{
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}